
 
 <body style="background-color: #f4f4f4; margin: 0; padding: 0;">
  <table width="100%" height="100%" style="width:100%; height:100%; padding:30px; text-align: center;">
    <tr>
      <td>
        <div style="width: 600px; max-width: 90%; margin: 0 auto; background-color: #fff; border-radius: 10px; overflow: hidden; padding: 20px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
        <%= link_to "http://www.arogyam.life" do %>
          <%= image_tag("#{Rails.application.credentials.cloudfront[:host]}/#{"big-logo.png"}", alt: 'big-logo', style: "width: 200px; display: block; margin: 0 auto;", width: 200) %>
        <% end %>
          <h1 style="color: #000; font-size: 24px; margin-top: 50px; margin-bottom: 30px;">
            <%= @user.first_name.capitalize %>, your booking has been rescheduled. 
          </h1>
          <p style="color: #333; font-size: 16px;">
            Find the details of your booking below:
          </p>
          <p style="color: #333; font-size: 16px;">Date: <%= @online_consultation.date.strftime("%d-%m-%Y") %></p>
          <p style="color: #333; font-size: 16px;">Slot: <%= @online_consultation.start_time %> - <%= @online_consultation.end_time %></p>
          
          <% if @online_consultation.payment_complete? %>
            <p style="font-weight: bold; color: red; font-size: 16px;">
              Please note that payment has to be made 48 hours before the consultation or the booking will be cancelled automatically. 
            </p>
          <% end %>
          <p style="color: #333; font-size: 16px;">
            You can see all your bookings at 
            <a href="https://www.arogyam.life/" style="color: #15c; text-decoration: none;">arogyam.life</a>.
          </p>
          <p style="color: #333; font-size: 16px;">
            Please feel free to contact us at
            <a href="mailto:wellnesscenter@satsang-foundation.org" style="color: #15c; text-decoration: none;">wellnesscenter@satsang-foundation.org</a>
            if you have any doubts or questions.
          </p>
        </div>
      </td>
    </tr>
  </table>
</body>

