<h1>New Review Consultation</h1>

<p>Name: <%= @online_consultation.user.first_name %></p>
<p>Date: <%= @online_consultation.date %></p>
<p>Start time: <%= @online_consultation.start_time %>
<p>End time: <%= @online_consultation.end_time %>
<p>Review consultation booked. Please ensure payment has been 48 hours before <%= @online_consultation.start_time %>, <%= @online_consultation.date %></p>
<p>A new online consultation booking has been made. </p>
