

<div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5">
  <div class="row align-items-center gy-2 mb-4 pb-1 pb-sm-2 pb-lg-3">
    <h1 class="cardHeading packages text-center">Blog</h1>    
  </div>

  <% if current_user_admin? %>
    <div class="admin">
      <%= link_to "New post", new_blog_path, class: "btn btn-outline-success btn-sm" %>
    </div>
  <% end %>

  <!-- Post-->
 <div class="container-custom mx-auto">
    <article class="row g-0 border-0 mb-4">
        <% @blogs.each do |blog| %>
            <div class="blog-item">
              <div class="col-sm-12 col-lg-12 d-flex">
                  <div class=" flex-grow-1">
                      <h3><%= link_to blog.title.capitalize, blog_path(blog) %></h3>
                      <% if blog.subtitle.present? %>
                        <h5 class="mb-3"><%= blog.subtitle %></h5>
                      <% else %>
                        <p class="fs-lg mb-3"><%= blog.content.to_plain_text.truncate(100) %></p>
                      <% end %>

                  </div>
                  <% if blog.image.attached? %>
                      <div class="align-self-center">
                          <%= image_tag blog.image.variant(:thumb), class: "img-fluid rounded mb-4" %>
                      </div>
                  <% end %>
              </div>
              <div class="col-sm-12 text-muted fs-sm mb-5">
                  <%= blog.created_at.strftime("%d %b %y %H:%M") %>
              </div>
            </div>
        <% end %>
    </article>
</div>

</div>


    
  
    