<section class="container pt-5 mt-md-2 mt-lg-3 mt-xl-4">
  <div class="row justify-content-center pt-xxl-2">
    <div class="col-lg-9 col-xl-8">
      <%= link_to "< Back to blogs", blogs_path, class: "nav-link", id: "back_to" %>
      <h1 class="pb-3 pb-md-4 pb-lg-5 mb-lg-0 mb-xl-1 mb-xxl-1 mt-5"><%= @blog.title.capitalize %></h1>
      <h3 class="mb-3"><%= @blog.subtitle %></h3>
      <% if @blog.image.attached? %>
        <%= image_tag @blog.image, class: "img-fluid rounded mb-4 mt-5" %>
      <% end %>
      <p class="fs-lg mb-3"> <%= @blog.content %></p>
      <% if current_user_admin? %>
        <div class="admin">
          <%= link_to "Edit blog", edit_blog_path(@blog), class: "btn btn-primary btn-sm" %>
        </div>
        <div  class="admin">
          <%= link_to "Delete blog", blog_path(@blog), class: "btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
        </div>
      <% end %>
      <!-- Tags-->
      
      <!-- Author widget-->
      <div class="py-4">
        <div class="d-flex align-items-start py-2">
          <div class="d-md-flex w-100">
            <div style="max-width: 26rem;">
              <h3 class="h6 mb-2">Posted by: <%= @user.first_name %></h3>
              <div class="mb-5 text-muted fs-sm"><%= @blog.created_at.strftime("%d %b %y %H:%M") %></div>

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>