<section class="container pt-5 mt-md-2 mt-lg-3 mt-xl-4">
        <div class="row justify-content-center pt-xxl-2">
          <div class="col-lg-9 col-xl-8">
                      <%= link_to "< Back to blogs", blogs_path, class: "nav-link", id: "back_to" %>

            <h1 class="pb-3 pb-md-4 pb-lg-5 mb-lg-0 mb-xl-2 mb-xxl-4 mt-5"><%= @blog.title.capitalize %></h1>

            <p class="fs-lg mb-3"> <%= @blog.content %></p>
            <div class="admin">
                    <%= link_to "Edit blog", edit_blog_path(@blog), class: "btn btn-primary btn-sm" %>
                  </div>
                  <div  class="admin">
                    <%= link_to "Delete blog", blog_path(@blog), class: "btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
                  </div>
            <!-- Tags-->
            
            <!-- Author widget-->
            <div class="py-4">
              <div class="d-flex align-items-start py-2">
                <div class="d-md-flex w-100">
                  <div style="max-width: 26rem;">
                    <h3 class="h6 mb-2">Posted by: <%= @user.email %></h3>
                  </div>
                  <div class="pt-4 pt-md-0 ps-md-4 ms-md-auto">
                    <h3 class="h5">Share post:</h3>
                    <div class="d-flex"><a class="nav-link p-2 me-2" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instagram"><i class="bi bi-instagram"></i></a><a class="nav-link p-2 me-2" href="https://www.facebook.com/sharer/sharer.php?u=<%= get_current_url %>" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a class="nav-link p-2 me-2 twitter-share-button" href="https://twitter.com/intent/tweet?text=<%= get_current_url %>" target="_blank"><i class="bi bi-twitter"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>