<script src="https://www.google.com/recaptcha/api.js?render=<%= Rails.application.credentials.recaptcha[:site_key]%>"></script>
<script>
  function submitForm(e) {
    e.preventDefault();
    const form = document.getElementById("registration_form");

    grecaptcha.ready(function() {
      grecaptcha.execute('<%= Rails.application.credentials.recaptcha[:site_key] %>', {action: 'register'}).then(function(token) {
        const input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "recaptcha_token");
        input.setAttribute("value", token);
        form.appendChild(input);

        form.submit();
      }).catch(function(error) {
        console.error("Error during reCAPTCHA execution:", error);
      });
    });
  }
</script>
  

<%= page_title 'Sign up' %>
<main class="page-wrapper d-flex  justify-content-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div id="signinCard" class="border-0 bg-success py-md-3 py-lg-4 px-lg-4 px-xl-5">
          <div> 
            <h1 id="signup" class="py-2 pb-lg-3">Sign Up</h1>
            <%= form_for(resource, as: resource_name, url: user_registration_path, html: { id: "registration_form" }) do |f| %>
              <%= render "shared/errors", object: resource %>
              <div class="pb-3 mb-3">
                <div class="position-relative mb-3">
                  <%= f.label :email, class: "custom-label" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg ps-5" %>
                </div>
                <div class="field mb-3">
                  <%= f.label :first_name, class: "custom-label" %><br />
                  <%= f.text_field :first_name, class: "form-control form-control-lg ps-5" %>
                </div>
                <div class="field mb-3">
                  <%= f.label :last_name, class: "custom-label" %><br />
                  <%= f.text_field :last_name, class: "form-control form-control-lg ps-5" %>
                </div>
                <div class="field mb-3">
                  <%= f.label :password, class: "custom-label" %><br />
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg ps-5" %>
                </div>
                <div class="field mb-3">
                  <%= f.label :password_confirmation, class: "custom-label" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg ps-5" %>
                </div>
                <br>
                  <div class="field mb-3">
                    <%= f.check_box :privacy_policy, { class: 'form-check-input', value: true } %>
                    <%= f.label :privacy_policy, sanitize("I accept the #{link_to 'Privacy Policy', privacy_policy_path}"), class: 'form-check-label' %>
                  </div>
                  <div class="field mb-3">
                    <%= f.check_box :newsletter_subscription, class: 'form-check-input', value: "1", unchecked_value: "0" %>
                    <%= f.label :newsletter_subscription, "Subscribe to our Newsletter", class: 'form-check-label' %>

                  </div>
                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-lg btn-light w-100 mb-4", onclick: "submitForm(event)" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
