<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <h1 class="text-center mb-3">Registration no: <%= @vishraam_registration.id %> </h1>
  <ul>
    <li>Registered on: <%= formatted_created_at_date(@vishraam_registration.created_at.to_s) %> </li>
    <li>Full name: <%= link_to user_full_name(@vishraam_registration.user), user_profile_path(user_id: @vishraam_registration.user.id) %></li>
    <li>Email: <%= @vishraam_registration.user.email %></li>
    <li>Gender: <%= @vishraam_registration.user.user_profile.gender %></li>
    <li>Age: <%= @vishraam_registration.user.user_profile.date_of_birth %></li>
    <li>Phone: <%= @vishraam_registration.user.user_profile.phone_number %></li>
    <li>Address: <%= @vishraam_registration.user.user_profile.address %></li>
    <li>City: <%= @vishraam_registration.user.user_profile.city %></li>
    <li>Country: <%= @vishraam_registration.user.user_profile.country %></li>
    <li>Zip/Postal code: <%= @vishraam_registration.user.user_profile.zip %></li>
    <li>Occupation: <%= @vishraam_registration.user.user_profile.occupation %></li>
    <li>Education: <%= @vishraam_registration.user.user_profile.marital_status %></li>

    <%= link_to 'Back', registrations_path, class: "btn btn-outline-success" %>


    
  </ul>

</section>