  <div class="contactform">
  <h3 class="enquiryForm">Booking Enquiry Form</h3>
  <%= form_with model: @contact, url: contacts_path do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field  :name, class: "form-control", id: "text-input" %><br>
    </div>
    <div>
      <%= f.label :email, class: "form-label" %><br>
      <%= f.text_field :email, class: "form-control", id: "email-input" %><br>
    </div>
    <div>
    
      <%= f.label :message, 'Health Programme', class: "form-label" %><br>
    <% if @name.present? %>
      <%= f.text_area :message, value: "Health Programme Name: #{@name}", class: "form-control", id: "textarea-input" %><br>
    <% else %>
      <%= f.text_area :message, class: "form-control", id: "textarea-input", 
        placeholder: "Send us a message"%><br>
    <% end %>
    </div>
    <div>
      <%= f.submit 'Send Message', class: 'orangeButton btn btn-outline-primary rounded-pill' %>
    </div>
  <% end %>
  </div>

