  <div class="contactform">
  <h3 class="enquiryForm">Booking Enquiry Form</h3>
  <%= form_with model: @contact, url: contacts_path do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field  :name, class: "form-control", id: "text-input" %><br>
    </div>
    <div>
      <%= f.label :email, class: "form-label" %><br>
      <%= f.text_field :email, class: "form-control", id: "email-input" %><br>
    </div>
    <div>
      <%= f.label :message, class: "form-label" %><br>
      <%= f.text_area :message, class: "form-control", id: "textarea-input", 
        placeholder: "Send me a message"%><br>
    </div>
    <div>
      <%= f.submit 'Send Message', class: 'btn btn-outline-primary rounded-0' %>
    </div>
  <% end %>
  </div>

