<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">

  <h1>Batch Registrations</h1>
  <% if @registrations.exists? %>
    <table>
        <thead>
            <tr>
                <th>Batch</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
                <!-- Add other column headers here -->
            </tr>
        </thead>
        <tbody>
  <% @registrations.each do |registration| %>
    <tr>
      <td data-th="Batch Date Range"><%= batch_date_range(registration.batch) %></td>
      <td data-th="Full Name"><%= link_to user_full_name(registration.user), user_profile_path(user_id: registration.user.id), class: "nav-link" %></td>
      <td data-th="Email"><%= registration.user.email %></td>
      <td data-th="Status" data-controller="status" data-status-id-value="<%= registration.id %>" data-endpoint="<%= registration_path(registration) %>">
        <span data-status-target="status"><%= registration.status %></span>
        <%= link_to 'Edit', "#", class: 'btn btn-outline-success btn-sm', data: {action: "click->status#toggleEditMode", status_target: "edit"} %>
      </td>
      <!-- Add other columns here -->
      <td data-th="Actions">
        <%= link_to 'View', registration_path(registration), class: 'btn btn-outline-success btn-sm' %>
        <span><%= button_to 'Delete', registration_path(registration), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: 'btn btn-outline-danger btn-sm' %></span>
      </td>
    </tr>
  <% end %>
</tbody>

    </table>
        <%= link_to 'Download Registrations Excel', export_batch_registrations_path(format: :xlsx), class: 'mt-5 btn btn-outline-primary rounded-pill' %>
    <% else %>  
        <h4>No registrations found</h4>
    <% end %>


    <h1 class="vishraam_reg_heading">Vishram Registrations</h1>
    
    <% if @vishraam_registrations.exists? %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Dates</th>
                    <th>Duration</th>
                    <th>Actions</th>
                    <th>Status</th>
                    <!-- Add other column headers here -->
                </tr>
            </thead>
            <tbody>
                <% @vishraam_registrations.each do |registration| %>
                    <tr>
                        <td data-th="Full Name"><%= link_to user_full_name(registration.user), user_profile_path(user_id: registration.user.id) %></td>
                        <td data-th="Email"><%= registration.user.email %></td>
                        <td data-th="Date"><%= registration.date %></td>
                        <td data-th="Duration"><%= registration.duration %></td>
                        <td data-th="Actions" data-controller="status">
                            <%= link_to 'View', vishraam_registration_path(registration), class: 'btn btn-outline-success btn-sm' %>
                            <span><%= button_to 'Delete', vishraam_registration_path(registration), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: 'btn btn-outline-danger btn-sm' %></span>
                        </td>
                        <td data-th="Status" data-controller="status" data-status-id-value="<%= registration.id %>" data-endpoint="<%= vishraam_registration_path(registration) %>">
                            <span data-status-target="status"><%= registration.status %></span>
                            <%= link_to 'Edit', edit_vishraam_registration_path(registration), class: 'btn btn-outline-danger btn-sm', data: {action: "click->status#toggleEditMode", status_target: "edit"} %>
                        </td>
              
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'Download Vishraam Registrations Excel', export_vishraam_registrations_path(format: :xlsx), class: 'mt-5 btn btn-outline-primary rounded-pill' %>
    <% else %>

        <h4>No registrations found</h4>
    <% end %>
</section>


<!-- app/views/registrations/index.html.erb -->
