<div class="custom-gradient-bg">
  <section class="container py-5 mt-5">
    <div class="registration-container">
      <h1 class="text-center mb-4">Registration no: <%= @registration.id %> </h1>
      <h2 >Basic Information</h2>
      <ul>
        <li>Package selected: <%= @registration.package.name %></li>
        <li>Batch date:<%= formatted_date_with_year(@registration.batch.start_date.to_s) %></li>
        <li>Registered on: <%= formatted_created_at_date(@registration.created_at.to_s) %> </li>
        <li>Full name: <%= link_to user_full_name(@registration.user), user_profile_path(user_id: @registration.user.id) %></li>
        <li>Email: <%= @registration.user.email %></li>
        <li>Gender: <%= @registration.user.user_profile.gender %></li>
        <li>Date of Birth: <%= formatted_date_of_birth(@registration.user.user_profile.date_of_birth.to_s) %></li>
        <li>Phone: <%= @registration.user.user_profile.phone_number %></li>
        <li>Address: <%= @registration.user.user_profile.address %></li>
        <li>City: <%= @registration.user.user_profile.city %></li>
        <li>Country: <%= @registration.user.user_profile.country %></li>
        <li>Zip/Postal code: <%= @registration.user.user_profile.zip %></li>
        <li>Occupation: <%= @registration.user.user_profile.occupation %></li>
        <li>Education: <%= @registration.user.user_profile.marital_status %></li>
      </ul>
        <h2>Health Information</h2>
      <ul>
        <li>Substance use: <%= @registration.substances %></li>
        <li>Medical conditions: <%= @registration.health_conditions %></li>
        <li>Lifestyle: <%= @registration.lifestyle %></li>
        <li>Medication: <%= @registration.medication %></li>
        <li>Status: <%= @registration.status %></li>
      </ul>
    

      <%= link_to 'Back', registrations_path, class: "btn btn-outline-custom" %>
    </div>
  </section>
</div>
