<section class="position-relative min-vh-100 py-5">
    <div class="swiper-slide-cover" style="background-image: url(assets/TSF_5476.jpg);"></div>
      <div class="newlogo position-relative zindex-2 py-lg-3 py-xl-5 my-5">
          <%= image_tag("Revised-Logo.png", width: 600)%>
      </div>
</section>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM</h2>
  <div class="hometext2">
    <%= render "home_text" %>
    <%= link_to "Explore packages", packages_path, class: "explorebutton btn btn-outline-primary rounded-0"%>
  </div>
  
</div>
        
   
<div class="responsive">
  <div class="gallery">
      <%= image_tag("food.jpg", width: 600, alt: "food")%>
    <div class="desc">We serve simple vegetarian food</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("foot.jpg", width: 600, alt: "foot")%>
    <div class="desc">Ayurvedic massages</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("hand.jpg", width: 600, alt: "hand")%>
    <div class="desc">We follow Ayurvedic principles</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("medicines.jpg", width: 600, alt: "medicines")%>
    <div class="desc">On-campus Ayurvedic dispensary</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("yoga.jpg", width: 600, alt: "medicines")%>
    <div class="desc">Yoga is an important part of our programs</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("landscape.jpg", width: 600, alt: "medicines")%>
    <div class="desc">We are located in a peaceful valley</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("reflection.jpg", width: 600, alt: "medicines")%>
    <div class="desc">The courtyard with an idol</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <%= image_tag("building.jpg", width: 600, alt: "medicines")%>
    <div class="desc">The architecture is in harmony with nature</div>
  </div>
</div>


<div class="clearfix"></div>

<%= link_to "BOOK A PACKAGE NOW", contact_path, class: "bookButton btn btn-outline-primary rounded-0"%>


  
  
   

