<main class="page-wrapper">
    <section class="ignore-dark-mode position-relative min-vh-100 py-5">
        <!-- Background image slider-->
        <div class="swiper swiper-scale-effect position-absolute top-0 start-0 w-100 h-100" data-swiper-options="{
      &quot;effect&quot;: &quot;fade&quot;,
      &quot;speed&quot;: 800,
      &quot;autoplay&quot;: {
        &quot;delay&quot;: 7000,
        &quot;disableOnInteraction&quot;: false
      },
      &quot;pagination&quot;: {
        &quot;el&quot;: &quot;.swiper-pagination&quot;,
        &quot;clickable&quot;: true
      }
    }">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-slide-cover bg-position-top-center" style="background-image: url(assets/background.jpg);"></div>
            </div>
          </div>
        
        </div>
        <!-- Content-->
        <div class="container position-relative zindex-2 py-lg-3 py-xl-5 my-5">
          <div class="row pt-md-3 py-xxl-5 my-5">
            <div class="col py-5 mb-md-4 mb-lg-5">
              <%= image_tag("whitelogo.png", width: 400)%>
              <p id="intentionaliving" class="d-block fs-xl pb-2 mb-4 mb-md-5" style="max-width: 500px;">Planting the seeds of intentional living.</p>
              <div class="position-relative d-inline-flex align-items-center"><a class="btn btn-icon btn-lg btn-primary rounded-circle stretched-link" href="https://www.youtube.com/watch?v=SZCxKjgReQ4" data-bs-toggle="video"><i class="ai-play-filled"></i></a><span class="fs-lg fw-semibold ms-3">Watch Video</span></div>
            </div>
          </div>
        </div>
      </section>
    </div>
     <%# <section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
        <h2 class="h1 text-center pt-2 pt-sm-3">Packages</h2>
        <p class="text-center pb-3 mb-3 mb-lg-4">Whether you are a beginner or an experienced yoga</p>
        <!-- Nav tabs-->
        <ul class="nav nav-tabs flex-nowrap overflow-auto text-nowrap w-100 mx-auto pb-3 mb-3 mb-lg-4" role="tablist" style="max-width: 892px;">
          <li class="nav-item mb-0"><a class="nav-link active" href="#beginners" data-bs-toggle="tab" role="tab">Beginners</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#stretching" data-bs-toggle="tab" role="tab">Stretching</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#fly-yoga" data-bs-toggle="tab" role="tab">Fly-yoga</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#for-pregnant" data-bs-toggle="tab" role="tab">For pregnant</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#healthy-back" data-bs-toggle="tab" role="tab">Healthy back</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#relax-yoga" data-bs-toggle="tab" role="tab">Relax yoga</a></li>
        </ul>
        <!-- Tab content-->
        <div class="tab-content">
          <!-- Beginers-->
          <div class="tab-pane fade show active" id="beginners" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/beginners.jpg" alt="Beginners"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">Yoga for beginners</h2>
                  <p class="pb-3 mb-3 mb-xl-4">Purus magna lectus feugiat arcu tellus vitae urna neque, eu velit in vulputate sodales ut tellus amet lorem sit consectetur quisque justo laoreet proin.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-cafe d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Lounge cafe</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div> %>
          <!-- Stretching-->
          <div class="tab-pane fade" id="stretching" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/stretching.jpg" alt="Stretching"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">Stretching</h2>
                  <p class="pb-3 mb-3 mb-xl-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lectus nec nunc bibendum facilisis pellentesque ut eros. Praesent bibendum sed mi aliquet tempus.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-cafe d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Lounge cafe</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Fly-yoga-->
          <div class="tab-pane fade" id="fly-yoga" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/fly-yoga.jpg" alt="Fly-yoga"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">Fly-yoga</h2>
                  <p class="pb-3 mb-3 mb-xl-4">Varius purus dui nunc faucibus mauris iaculis tortor enim cursus quisque eu, vel amet massa suscipit cursus sit mattis quis magnis dignissim dui fames tortor amet quis.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-rug d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Free rugs</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div>
          <!-- For pregnant-->
          <div class="tab-pane fade" id="for-pregnant" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/for-pregnant.jpg" alt="For pregnant"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">For pregnant</h2>
                  <p class="pb-3 mb-3 mb-xl-4">At duis est ante tortor, dictum dictumst nisl erat. Tellus erat pharetra eget vestibulum. Netus eu sit cursus et vehicula porttitor nulla turpis a. In volutpat at orci.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-cafe d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Lounge cafe</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Healthy back-->
          <div class="tab-pane fade" id="healthy-back" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/healthy-back.jpg" alt="Healthy back"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">Healthy back</h2>
                  <p class="pb-3 mb-3 mb-xl-4">Facilisi tempus pharetra, egestas dolor. Nulla lorem interdum cursus habitasse. Morbi aliquam, mauris, varius nulla tortor ut nullam. Est eu eu eget fames leo nisl est.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-cafe d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Lounge cafe</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Relax yoga-->
          <div class="tab-pane fade" id="relax-yoga" role="tabpanel">
            <div class="row align-items-lg-center">
              <div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0"><img class="rounded-5" src="assets/img/landing/yoga-studio/classes/relax-yoga.jpg" alt="Relax yoga"></div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
                <div class="ps-md-4 ps-lg-0">
                  <h2 class="mb-xl-4">Relax yoga</h2>
                  <p class="pb-3 mb-3 mb-xl-4">Aliquam risus, leo mattis commodo id pretium. In sapien, lacus, cursus id vulputate. Pellentesque quis et posuere maecenas sed aenean quisque ut. Pellentesque sed at.</p>
                  <div class="row row-cols-2 g-4 pb-2 pb-xl-0 mb-4 mb-xl-5">
                    <div class="col"><i class="ai-towel d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Changing rooms</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-cafe d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Lounge cafe</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-sofa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Bright halls</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                    <div class="col"><i class="ai-spa d-block h2 text-primary fw-normal pb-2 mb-1"></i>
                      <h3 class="h6 mb-2">Spa area</h3>
                      <p class="fs-sm mb-0">Neque, blandit consectetur viverra placerat ante.</p>
                    </div>
                  </div><a class="btn btn-primary w-100 w-sm-auto" href="#">Try a free lesson</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
   
  <div class="belowimage container overflow-hidden py-5 mt-3 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
    <div class="masonry-grid" data-columns="2">
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("TSF_8502.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("hand.jpeg", width: 704, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("food.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("foot.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("reflection.jpeg", width: 600, class: "roundedimages")%></div>
            </div>  
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("flowers.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("medicines.jpeg", width: 700, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("yoga.jpeg", width: 650, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
    </div>
  </div>
</main>
  
  
   

