  <div class="cover" style="background-image: url(https://d1w11gv0j27jrz.cloudfront.net/buildings.jpg);">
    <div class="newlogo ">
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/yellow-logo.png")%>
    </div>
  </div>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM</h2>
  <div class="hometext2">
    <%= render "home_text" %>
      <%= link_to "Explore packages", packages_path, class: "explorebutton btn btn-outline-primary rounded-0"%>
  </div>
</div>

<div class="galleryImages">
  <% gallery_index.each do |gallery|%>
  <% if gallery.images.attached? %>
    <% gallery.images.each do |image| %>
      <div class="imageContainer">

        <%= image_tag(image, width: 800, data: {fancybox: 'imageGallery' }) %>
      </div>
    <% end %>
  <% else %>
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/flowers.jpg", width: 800, data: {fancybox: 'imageGallery' }) %>
  <% end %>

  <% end %>
</div>


          
      

<%= link_to "BOOK A PACKAGE NOW", contact_path, class: "bookButton btn btn-outline-primary rounded-0"%>


  
  
   

