  <div class="cover" style="background-image: url(https://d1w11gv0j27jrz.cloudfront.net/face.jpg);">
    <div class="newlogo">
        <div class="ayurvedicWellness">AYURVEDIC WELLNESS CENTER</div>
        <div>Intentional living <br><i>for</i><br> body & mind wellness</div>
        <div class="landingpagetext">Arogyam (noun): <strong>Health</strong>. Derived from "<i>aroga</i>" which means absence of disease. "<i>roga</i>": 
            derived from the Sanskrit root "<i>ruk</i>" or pain.
        </div>
        <%= link_to "Book programme", bookings_path, class: "landingBookButton btn btn-outline-primary rounded-pill" %>

    </div>
  </div>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM?</h2>
  <div class="hometext2">
    <%= render "home_text" %>
      <%= link_to "Explore programmes", packages_path, class: "orangeButton explorebutton btn btn-outline-primary rounded-pill"%>
  </div>
</div>

<div class="galleryImages">
  <% gallery_index.each do |gallery|%>
  <% if gallery.images.attached? %>
    <% gallery.images.each do |image| %>
      <div class="imageContainer">

        <%= image_tag(image, width: 800, data: {fancybox: 'imageGallery' }) %>
      </div>
    <% end %>
  <% else %>
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/flowers.jpg", width: 800, data: {fancybox: 'imageGallery' }) %>
  <% end %>

  <% end %>
</div>


          
      



  
  
   

