<section class="position-relative min-vh-100">
  <div class="cover" style="background-image: url(assets/buildings.jpg);">
    <div class="newlogo position-relative zindex-2 py-lg-3 py-xl-5 my-5">
        <%= image_tag("rust-logo.png", width: 600)%>
    </div>
  </div>
</section>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM</h2>
  <div class="hometext2">
    <%= render "home_text" %>
    <%= link_to "Explore packages", packages_path, class: "explorebutton btn btn-outline-primary rounded-0"%>
  </div>
  
</div>

<div class="galleryImages">
  <% gallery_index.each do |gallery|%>
  <% gallery.images.each do |image| %>
    <%= image_tag(image, width: 800, data: {fancybox: 'imageGallery' }) %>
  <% end %>
<% end %>
</div>

          
        




<div class="clearfix"></div>

<%= link_to "BOOK A PACKAGE NOW", contact_path, class: "bookButton btn btn-outline-primary rounded-0"%>


  
  
   

