<section class="position-relative min-vh-100 py-5">
  <div class="swiper-slide-cover" style="background-image: url(assets/TSF_5476.jpg);"></div>
    <div class="newlogo position-relative zindex-2 py-lg-3 py-xl-5 my-5">
        <%= image_tag("Revised-Logo.png", width: 600)%>
    </div>
  </div>
</section>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM</h2>
  <div class="hometext2">
    <%= render "home_text" %>
    <%= link_to "Explore packages", packages_path, class: "explorebutton btn btn-outline-primary rounded-0"%>
  </div>
  
</div>

<div class="galleryImages">
  <%= image_tag("food.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("foot.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("hand.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("medicines.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("yoga.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("landscape.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("reflection.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
  <%= image_tag("buildings.jpg", width: 600, data: { fancybox: 'imageGallery' }) %>
</div>

          
        




<div class="clearfix"></div>

<%= link_to "BOOK A PACKAGE NOW", contact_path, class: "bookButton btn btn-outline-primary rounded-0"%>


  
  
   

