  <div class="cover" style="background-image: url(https://d1w11gv0j27jrz.cloudfront.net/pouring-small.jpg);">
      <div class="big-logo"><%= image_tag(dev_images("big-logo-2.png"), alt: 'big-logo') %></div>
      <div class="newlogo">
          <div class="homeLogo"><%= image_tag(dev_images("symbol.png")) %></div>
          <div class="ayurvedicWellness">WELLNESS CENTER</div>
          <div>Intentional living <br><span class="for">for</span><br> body & mind wellness</div>
          <div class="landingpagetext">Arogyam (noun): <strong>Health</strong>. Derived from "<i>aroga</i>" which means absence of disease. "<i>roga</i>": 
              derived from the Sanskrit root "<i>ruk</i>" or pain.
          </div>
          <%= link_to "See our programmes", packages_path, class: "landingBookButton btn btn-outline-primary rounded-pill", data: {turbo: false} %>
      </div>
  </div>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM?</h2>
  <div class="hometext2"> 
    <%= render "home_text" %>
      <%= link_to "Explore programmes", packages_path, class: "orangeButton explorebutton btn btn-outline-primary rounded-pill"%>
  </div>
</div>

<div class="galleryImages">  
  <% if gallery_index.images.attached? %>
    <% gallery_index.images.each do |image| %>
      <div class="imageContainer">
    <%= image_tag(rails_public_blob_url(image), data: {fancybox: 'imageGallery' }, alt: 'home-page-gallery') %>
      </div>
      <% if current_user_admin? %>
        <%= link_to "Delete image", destroy_gallery_path(gallery_index, param2: "#{image.id}"), class: "deleteImage btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      <% end %>
    <% end %>
  <% else %>
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/flowers.jpg", width: 800, data: {fancybox: 'imageGallery' }, alt: 'placeholder-flower') %>
  <% end %>
</div>



<div id="swiperSection" class="homeSwiperContainer">
  
  <div class="homeSwiper">
  <h1  class="swiperHeading cardHeading packages text-center">Choose Your Programme</h1> 
    <div class="swiper">
      <div class="swiper-wrapper">
          <% @packages.each do |package| %>
            <div class="swiper-slide">
              <div class="newpackagecard">
                <% if package.package_image.attached? %>
                  <%= image_tag(rails_public_blob_url(package.package_image),  class: "card-img-top", alt: "Card image" )%>
                <% else %>
                  <%= image_tag(dev_images('flowers.jpg'), class: "card-img-top", alt: "Card image" )%>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= package.name %></h5>
                  <p class="card-text"><%= package.short_description %></p>
                  <p class="card-text"><%= "Rs. #{package.cost}" %></p>
                  <p class="card-text"><%= "#{package.duration} days" %></p>                  
                  <%= link_to "Details", package_path(package), id: "NewPackageCardButton", class: "navbarBookButton btn btn-outline-primary rounded-pill" %>
                </div>
              </div>        
            </div>
            
          <% end %>
    
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      
      
      
    </div>
    
    
  </div>
  
</div>








          
      



  
  
   

