<main class="page-wrapper">

  <div style="position: relative">
   <img class="background" src="/assets/background.jpg" />
  </div>
      
  <div  class="container position-relative zindex-2 py-lg-3 py-xl-5 my-3">
    <div class="row pt-md-3 py-xxl-5 my-3">
      <div class="col py-5 mb-md-4 mb-lg-5">
      
        <%= image_tag("whitelogo.png", width: 400, id:"whitelogo")%>
        <div class="logo"><%= image_tag("white-starcircle.png", width: 50)%></div>
        <div class="green-logo"><%= image_tag("green-starcircle.png", width: 50)%></div>
        <div class="peacewellness mb-5 mb-md-5">Planting the seeds of intentional living.</div>
     
    </div>
  </div>
     
    <div class="invisible">
    </div>
      <div class="text-container">
        <div class="home_text"><%= render "home_text" %></div>
        <div id= "exploreButton"><%= link_to "Explore packages", packages_path, class: "btn btn-outline-primary btn-lg", data: {turbo: false} %></div>
      </div>
    
 
  <h1>Hello</h1>
  <div class="belowimage container overflow-hidden py-5 mt-3 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
    <div class="masonry-grid" data-columns="2">
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("TSF_8502.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("hand.jpeg", width: 704, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("food.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("foot.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("reflection.jpeg", width: 600, class: "roundedimages")%></div>
            </div>  
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("flowers.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("medicines.jpeg", width: 700, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("yoga.jpeg", width: 650, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
    </div>
  </div>
</main>
  
  
   

