
  <!-- Body-->
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Page content-->
    

         <img class="background" src="/assets/IMG_5271.jpg" />

        <!-- Content-->
        <div  class="container position-relative zindex-2 py-lg-3 py-xl-5 my-5">
          <div class="row pt-md-3 py-xxl-5 my-5">
            <div class="col py-5 mb-md-4 mb-lg-5">
              <h1 class="display-1 mb-4">ArogyaM</h1>
              <p class="d-block fs-xl pb-2 mb-4 mb-md-5" style="max-width: 500px;">The best yoga and meditation practices, adapted at a high level to the needs of the modern pace of life.</p>
              <div class="position-relative d-inline-flex align-items-center"><a id="playButton" class="btn btn-icon btn-lg btn-primary rounded-circle stretched-link" href="https://www.youtube.com/c/TheSatsangFoundation" data-bs-toggle="video" target="_blank"><i class="bi bi-play-btn" style="font-size: 2rem"></i></a><span id="playbuttontext" class="fs-lg fw-semibold ms-3">Watch Video</span></div>
            </div>
          </div>
        </div>
     
     
  
      <!-- Classes (Tabs)-->

        
   
      <!-- CTA-->
     
      <!-- Pricing-->
      <div class="belowimage">
        <section class="pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
          <div id="belowimage" class="container pt-2 pt-sm-4 pt-lg-5 mt-md-2">
            <div class="row">
              <!-- Sticky sidebar-->
              <div class="col-md-5 col-xl-4 mb-5 mb-md-0" style="margin-top: -125px;">
                <div class="position-sticky top-0" style="padding-top: 125px;">
                  <h2 class="h1 pb-2 pb-lg-3">Choose a suitable subscription</h2>
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-4">The best yoga and meditation practices, adapted at a high level to the needs of the modern pace of life.</p>
                    </div>
                  </div>
                  <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-center mb-3">
                      <svg class="d-block flex-shrink-0 text-primary" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9266 11.9488V7.48998C11.9266 7.22049 11.7181 7 11.4633 7C11.2085 7 11 7.22049 11 7.48998V12.1448C11 12.2673 11.0463 12.3898 11.139 12.4878L16.2124 15.853C16.305 15.951 16.4208 16 16.5367 16C16.6525 16 16.7683 15.951 16.861 15.853C17.0463 15.657 17.0463 15.363 16.861 15.167L11.9266 11.9488Z"></path>
                        <path d="M12 1C5.92609 1 1 5.92609 1 12C1 18.0739 5.92609 23 12 23C18.0739 23 23 18.0739 23 12C23 5.92609 18.0739 1 12 1ZM12 22.0435C6.45217 22.0435 1.95652 17.5478 1.95652 12C1.95652 6.45217 6.45217 1.95652 12 1.95652C17.5478 1.95652 22.0435 6.45217 22.0435 12C22.0435 17.5478 17.5478 22.0435 12 22.0435Z"></path>
                      </svg>
                      <div class="ps-2 ms-1">
                        <div class="text-nav fw-medium">lesson duration 90 minutes</div>
                      </div>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                      <svg class="d-block flex-shrink-0 text-primary" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 24C4.935 24 0 19.065 0 13C0 6.935 4.935 2 11 2C13.109 2 15.161 2.601 16.934 3.739C17.166 3.888 17.234 4.197 17.085 4.43C16.935 4.662 16.626 4.73 16.394 4.581C14.782 3.546 12.917 3 11 3C5.486 3 1 7.486 1 13C1 18.514 5.486 23 11 23C16.514 23 21 18.514 21 13C21 12.67 20.984 12.345 20.953 12.024C20.926 11.749 21.127 11.504 21.402 11.478C21.682 11.455 21.922 11.652 21.948 11.927C21.982 12.28 22 12.638 22 13C22 19.065 17.065 24 11 24Z"></path>
                        <path d="M12.5002 15.2502C12.3723 15.2502 12.2442 15.2012 12.1462 15.1042L7.64625 10.6042C7.45125 10.4092 7.45125 10.0922 7.64625 9.89725C7.84125 9.70225 8.15825 9.70225 8.35325 9.89725L12.4992 14.0432L23.1462 3.39625C23.3412 3.20125 23.6583 3.20125 23.8533 3.39625C24.0483 3.59125 24.0483 3.90825 23.8533 4.10325L12.8532 15.1032C12.7562 15.2012 12.6282 15.2502 12.5002 15.2502Z"></path>
                      </svg>
                      <div class="ps-2 ms-1">
                        <div class="text-nav fw-medium">subscription valid for 30 days</div>
                      </div>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="d-block flex-shrink-0 text-primary" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.479 10.9238C23.9514 10.4634 24.1181 9.78767 23.9144 9.15956C23.7101 8.53144 23.1781 8.08307 22.5245 7.98791L16.7134 7.14354C16.4659 7.1075 16.252 6.95227 16.1415 6.72784L13.5435 1.46216C13.2518 0.870571 12.6597 0.50293 11.9999 0.50293C11.3405 0.50293 10.7485 0.870571 10.4568 1.46216L7.85829 6.72784C7.74776 6.95227 7.53342 7.1075 7.28592 7.14354L1.47479 7.98839C0.821687 8.08307 0.289688 8.53144 0.0854429 9.15956C-0.118322 9.78767 0.0484385 10.4634 0.520845 10.9238L4.72541 15.0221C4.90467 15.197 4.98684 15.4489 4.94455 15.6949L3.95216 21.4825C3.84067 22.1327 4.10258 22.7772 4.6365 23.1655C5.16994 23.5543 5.86438 23.6047 6.44924 23.2967L11.6462 20.5641C11.8677 20.4478 12.1321 20.4478 12.3536 20.5641L17.551 23.2967C17.8048 23.4303 18.0797 23.4961 18.3531 23.4961C18.7083 23.4961 19.062 23.3851 19.3638 23.1655C19.8977 22.7772 20.1596 22.1327 20.0481 21.4825L19.0552 15.6954C19.013 15.4489 19.0951 15.1975 19.2744 15.0226L23.479 10.9238ZM18.1085 15.8578L19.1009 21.6449C19.1509 21.9362 19.0379 22.2144 18.7986 22.3884C18.5588 22.5619 18.2604 22.583 17.9985 22.4465L12.801 19.7135C12.5506 19.5823 12.2748 19.516 11.9999 19.516C11.725 19.516 11.4496 19.5823 11.1988 19.714L6.0023 22.4465C5.73943 22.583 5.44099 22.5619 5.20166 22.3884C4.96234 22.2144 4.84988 21.9366 4.89938 21.6449L5.89177 15.8578C5.98741 15.2994 5.80238 14.7294 5.39678 14.3344L1.19173 10.2356C0.979796 10.0289 0.90771 9.73769 0.9995 9.45655C1.09081 9.17494 1.32004 8.98174 1.61272 8.93897L7.42337 8.0946C7.9842 8.01338 8.4691 7.6616 8.71948 7.15315L11.318 1.88747C11.4487 1.62219 11.7039 1.46408 11.9994 1.46408C12.2955 1.46408 12.5502 1.62219 12.6814 1.88747L15.2798 7.15315C15.5302 7.6616 16.0146 8.01338 16.5755 8.0946L22.3866 8.93897C22.6793 8.98174 22.9085 9.17494 22.9998 9.45655C23.0911 9.73769 23.0195 10.0289 22.8076 10.2356L18.603 14.3339C18.1974 14.7294 18.0124 15.2989 18.1085 15.8578Z"></path>
                      </svg>
                      <div class="ps-2 ms-1">
                        <div class="text-nav fw-medium">valid for all types of classes</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Pricing list-->
              <div class="col-md-7 offset-xl-1">
                <div class="ps-md-4 ps-xxl-5">
                  <!-- Pricing card-->
                  <div class="card border-0 bg-secondary rounded-4 position-relative mb-3">
                    <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
                      <div class="w-100 pe-sm-4 mb-3 mb-sm-0" style="max-width: 27rem;">
                        <h3 class="mb-2">4 lessons</h3>
                        <p class="fs-lg mb-0">Valid for all types of classes</p>
                      </div>
                      <div class="w-100 pe-sm-3 mx-auto me-sm-0 mb-3 mb-sm-0" style="max-width: 8rem;">
                        <div class="h3 text-primary mb-0 mb-sm-2">$40</div><span class="fs-sm">$10 per class</span>
                      </div>
                      <button class="btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto" type="button">Buy</button>
                    </div>
                  </div>
                  <!-- Pricing card-->
                  <div class="card border-0 bg-secondary rounded-4 position-relative mb-3">
                    <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
                      <div class="w-100 pe-sm-4 mb-3 mb-sm-0" style="max-width: 27rem;">
                        <h3 class="mb-2">8 lessons</h3>
                        <p class="fs-lg mb-0">Valid for all types of classes</p>
                      </div>
                      <div class="w-100 pe-sm-3 mx-auto me-sm-0 mb-3 mb-sm-0" style="max-width: 8rem;">
                        <div class="h3 text-primary mb-0 mb-sm-2">$72</div><span class="fs-sm">$9 per class</span>
                      </div>
                      <button class="btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto" type="button">Buy</button>
                    </div>
                  </div>
                  <!-- Pricing card-->
                  <div class="card border-0 bg-secondary rounded-4 position-relative mb-3">
                    <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
                      <div class="w-100 pe-sm-4 mb-3 mb-sm-0" style="max-width: 27rem;">
                        <h3 class="mb-2">16 lessons</h3>
                        <p class="fs-lg mb-0">Valid for all types of classes</p>
                      </div>
                      <div class="w-100 pe-sm-3 mx-auto me-sm-0 mb-3 mb-sm-0" style="max-width: 8rem;">
                        <div class="h3 text-primary mb-0 mb-sm-2">$120</div><span class="fs-sm">$7 per class</span>
                      </div>
                      <button class="btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto" type="button">Buy</button>
                    </div>
                  </div>
                  <!-- Pricing card-->
                  <div class="card border-0 bg-secondary rounded-4 position-relative">
                    <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
                      <div class="w-100 pe-sm-4 mb-3 mb-sm-0" style="max-width: 27rem;">
                        <h3 class="mb-2">Yoga for pregnant</h3>
                        <p class="fs-lg mb-0">Valid for all types of classes</p>
                      </div>
                      <div class="w-100 pe-sm-3 mx-auto me-sm-0 mb-3 mb-sm-0" style="max-width: 8rem;">
                        <div class="h3 text-primary mb-0 mb-sm-2">$12</div><span class="fs-sm">per class</span>
                      </div>
                      <button class="btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto" type="button">Buy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Instagram-->
      
    <div class="belowimage container overflow-hidden py-5 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
      <div class="masonry-grid" data-columns="2">
          <!-- Item-->
           <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("TSF_8502.jpeg", width: 512)%></div>
              </div>
              
            </div>
          </article>
          <!-- Item-->
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("hand.jpeg", width: 704)%></div>
              </div>
              
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("food.jpeg", width: 600)%></div>
              </div>
              
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("foot.jpeg", width: 600)%></div>
              </div>
              
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("reflection.jpeg")%></div>
              </div>
              
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("flowers.jpeg")%></div>
              </div>
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("medicines.jpeg", width: 600)%></div>
              </div>
            </div>
          </article>
          <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
            <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
              <div class="zoom-effect-wrapper">
                <div class="zoom-effect-img"><%= image_tag("yoga.jpeg", width: 600)%></div>
              </div>
            </div>
          </article>
        
      </div>
  </div>
</main>
  
  
   

