  <div class="cover" style="background-image: url(https://d1w11gv0j27jrz.cloudfront.net/pouring-small.jpg);">
      <div class="big-logo"><%= image_tag(dev_images("big-logo-2.png"), alt: 'big-logo') %></div>
      <div class="newlogo">
          <div class="homeLogo"><%= image_tag(dev_images("symbol.png")) %></div>
          <div class="ayurvedicWellness">WELLNESS CENTER</div>
          <div>Intentional living <br><span class="for">for</span><br> body & mind wellness</div>
          <div class="landingpagetext">Ārogyam (noun): <strong>Health</strong>. Derived from "<i>aroga</i>" which means absence of disease. "<i>roga</i>": 
              derived from the Sanskrit root "<i>ruk</i>" or pain.
          </div>
          <%= link_to "See our programmes", packages_path, class: "landingBookButton btn btn-outline-primary rounded-pill", data: {turbo: false} %>
      </div>
  </div>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ĀrogyaM?</h2>
  <div class="hometext2"> 
    <%= render "home_text" %>
    <div class='home_buttons'>
      <%= link_to "Batches", batches_path, class: "HomePageButton btn btn-outline-primary rounded-pill"%>
      <%= link_to "Explore programmes", packages_path, class: "HomePageButton btn btn-outline-primary rounded-pill"%>
      <%= link_to "Online Consultations", online_consultations_path, class: "HomePageButton  btn btn-outline-primary rounded-pill"%>
      <%# <%= link_to "Customized programmes", " ", class: "orangeButton explorebutton btn btn-outline-primary rounded-pill"%> 
        
    </div>
  </div>
</div>

<%# 
<section class="container py-2 mt-2 mb-md-3 mb-lg-4 mb-xxl-5">
  <div class="form-container py-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <h2 class="newsletterHeading mb-0">SUBSCRIBE TO OUR NEWSLETTER</h2>
      </div>
      <div class="col-md-6">
        <%= form_with(model: NewsletterSubscription.new, url: newsletter_subscriptions_path, local: true) do |form| %>
        <%# 
          <div class="form-group">
            <%= form.label :email, "Email", class: "custom-label mb-2" %>
            <%# <%= form.email_field :email, class: "form-control", placeholder: "Enter your email address", id: "newsletter" %>
          <%# </div>
          <%= form.submit "Subscribe", class: "btn btn-outline rounded-pill mt-3", id: "newsletterSubmit" %>
        <%# <% end %>
      <%# </div>
    </div>
  </div>
</section>  %>
  

 

    

      
<section class="container py-2 mt-2 mb-md-3 mb-lg-4 mb-xxl-5">
<div class="galleryImages">  
  <% if gallery_index.images.attached? %>
    <% gallery_index.images.each do |image| %>
      <div class="imageContainer">
    <%= image_tag(rails_public_blob_url(image), data: {fancybox: 'imageGallery' }, alt: 'home-page-gallery') %>
      </div>
      <% if current_user_admin? %>
        <%= link_to "Delete image", destroy_gallery_path(gallery_index, param2: "#{image.id}"), class: "deleteImage btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      <% end %>
    <% end %>
  <% else %>
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/flowers.jpg", width: 800, data: {fancybox: 'imageGallery' }, alt: 'placeholder-flower') %>
  <% end %>
</div>
</section>













          
      



  
  
   

