<main class="page-wrapper">
    <section class="ignore-dark-mode position-relative min-vh-100 py-5">
        <!-- Background image slider-->
        <div class="swiper swiper-scale-effect position-absolute top-0 start-0 w-100 h-100" data-swiper-options="{
      &quot;effect&quot;: &quot;fade&quot;,
      &quot;speed&quot;: 800,
      &quot;autoplay&quot;: {
        &quot;delay&quot;: 7000,
        &quot;disableOnInteraction&quot;: false
      },
      &quot;pagination&quot;: {
        &quot;el&quot;: &quot;.swiper-pagination&quot;,
        &quot;clickable&quot;: true
      }
    }">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-slide-cover bg-position-top-center" style="background-image: url(assets/TSF_5476.jpg);"></div>
            </div>
          </div>
        
        </div>
        <!-- Content-->
        <div class="newlogo position-relative zindex-2 py-lg-3 py-xl-5 my-5">
              <%= image_tag("Revised-Logo.png", width: 600)%>
        </div>
      </section>
    </div>
    <div class="hometextContainer">
      <%= render "home_text" %>
     </div>
        
   
  <div class="belowimage container overflow-hidden py-5 mt-3 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
    <div class="masonry-grid" data-columns="2">
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("TSF_8502.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("hand.jpeg", width: 704, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("food.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("foot.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("reflection.jpeg", width: 600, class: "roundedimages")%></div>
            </div>  
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative  pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("flowers.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("medicines.jpeg", width: 700, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("yoga.jpeg", width: 650, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
    </div>
  </div>
</main>
  
  
   

