  <div class="cover" style="background-image: url(https://d1w11gv0j27jrz.cloudfront.net/pouring-small.jpg);">
      <div class="big-logo"><%= image_tag(dev_images("big-logo-2.png"), alt: 'big-logo') %></div>
      <div class="newlogo">
          <div class="homeLogo"><%= image_tag(dev_images("symbol.png")) %></div>
          <div class="ayurvedicWellness">WELLNESS CENTER</div>
          <div>Intentional living <br><span class="for">for</span><br> body & mind wellness</div>
          <div class="landingpagetext">Arogyam (noun): <strong>Health</strong>. Derived from "<i>aroga</i>" which means absence of disease. "<i>roga</i>": 
              derived from the Sanskrit root "<i>ruk</i>" or pain.
          </div>
          <%= link_to "Book programme", packages_path, class: "landingBookButton btn btn-outline-primary rounded-pill" %>
      </div>
  </div>
   
<div class="hometextContainer">
  <h2 class="whyArogyam">Why ArogyaM?</h2>
  <div class="hometext2"> 
    <%= render "home_text" %>
      <%= link_to "Explore programmes", packages_path, class: "orangeButton explorebutton btn btn-outline-primary rounded-pill"%>
  </div>
</div>

<div class="galleryImages">  
  <% if gallery_index.images.attached? %>
    <% gallery_index.images.each do |image| %>
      <div class="imageContainer">
    <%= image_tag(rails_public_blob_url(image), data: {fancybox: 'imageGallery' }, alt: 'home-page-gallery') %>
      </div>
      <% if current_user_admin? %>
        <%= link_to "Delete image", destroy_gallery_path(gallery_index, param2: "#{image.id}"), class: "deleteImage btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      <% end %>
    <% end %>
  <% else %>
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/flowers.jpg", width: 800, data: {fancybox: 'imageGallery' }, alt: 'placeholder-flower') %>
  <% end %>
</div>

<div class="container">
  <div class="card-container d-flex flex-wrap justify-content-between">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="info-card-title">Online Consultations</h5>
        <p class="card-text">We provide online consultations if you can't make it in person.</p>
        <%= link_to 'Book', bookings_path, class: "cardButton btn btn-outline-primary rounded-pill"%>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="info-card-title">Ayurvedic Medicine</h5>
        <p class="card-text">We use the ancient science of Ayurveda to give you a better quality of life.</p>
        <%= link_to "Check out our programmes", packages_path, class: "cardButton btn btn-outline-primary rounded-pill"%>

      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="info-card-title">Peace and Quiet</h5>
        <p class="card-text">We are located in a valley surrounded by nature and greenery.</p>
        <%= link_to "Gallery", gallery_index_path, class: "cardButton btn btn-outline-primary rounded-pill"%>
      </div>
    </div>
    
  </div>
</div>



          
      



  
  
   

