<main class="page-wrapper">

  <div class="mb-auto">
    <img class="background" src="/assets/IMG_5271.jpg" />
  </div>
      
  <div  class="container position-relative zindex-2 py-lg-3 py-xl-5 my-3">
    <div class="row pt-md-3 py-xxl-5 my-3">
      <div class="col py-5 mb-md-4 mb-lg-5">
      
      <%# <div class="title">ArogyaM</div> %>
      <div id="mainText">
        <%= image_tag("whitelogo.png", width: 400, id:"whitelogo")%>
        <div class="logo"><%= image_tag("white-starcircle.png", width: 50)%></div>
        <div class="green-logo"><%= image_tag("green-starcircle.png", width: 50)%></div>
        <div class="peacewellness mb-5 mb-md-5">Planting the seeds of intentional living.</div>
      </div>
      <div class="position-relative d-inline-flex align-items-center"><a id="playButton" class="btn btn-icon btn-lg btn-primary rounded-circle stretched-link" href="https://www.youtube.com/c/TheSatsangFoundation" data-bs-toggle="video" target="_blank"><i id="play" class="bi bi-play-btn" style="font-size: 2rem; color: grey"></i></a><span id="playbuttontext" class=" fw-semibold ms-3">Watch Video</span></div>
      </div>
    </div>
  </div>
     
  <section class="belowimage container pt-5 mt-md-auto mt-lg-3 mt-xl-4">
    <div class="row justify-content-center pt-xxl-2">
      <div class="text-container col-lg-9 col-xl-8">
        <div id="home_text"><%= render "home_text" %></div>
        <div id= "exploreButton"><%= link_to "Explore packages", packages_path, class: "btn btn-outline-primary btn-lg", data: {turbo: false} %></div>
      </div>
    </div>

  </section>

  <div class="belowimage container overflow-hidden py-5 mt-3 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
    <div class="masonry-grid" data-columns="2">
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("TSF_8502.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("hand.jpeg", width: 704, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("food.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("foot.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("reflection.jpeg", width: 600, class: "roundedimages")%></div>
            </div>  
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("flowers.jpeg", width: 600, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("medicines.jpeg", width: 700, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
        <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups="[&quot;stationery&quot;]">
          <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 704px;">
            <div class="zoom-effect-wrapper">
              <div class="zoom-effect-img"><%= image_tag("yoga.jpeg", width: 650, class: "roundedimages")%></div>
            </div>
          </div>
        </article>
    </div>
  </div>
</main>
  
  
   

