<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <%= page_title 'Profile' %>
  <h1 class="text-center mb-3"><%= user_full_name(@user) %></h1>
  <% if @user.admin == true %>
    <h5 class="text-center mb-3">*ADMIN ACCOUNT*</h5>
  <% end %>
    <h6 class="text-center mb-5">  <%= @user.email %></h6>
  
  
  <div class="personal-info">
  <% if @profile %>
    <h2>Profile</h2>
    <ul>
      
    
      <li><strong>Gender:</strong> <%= @profile.gender %></li>
      <li><strong>Date of Birth:</strong> <%= @profile.date_of_birth.strftime('%Y-%m-%d') %></li>
      <li><strong>Address:</strong> <%= @profile.address %></li>
      <li><strong>City:</strong> <%= @profile.city %></li>
      <li><strong>ZIP:</strong> <%= @profile.zip %></li>
      <li><strong>Country:</strong> <%= @profile.country %></li>
      <li><strong>Phone Number:</strong> <%= @profile.phone_number %></li>
      <li><strong>Alternate Phone Number:</strong> <%= @profile.alternate_phone_number %></li>
      <li><strong>Doctor Contact Details:</strong> <%= @profile.doctor_contact_details %></li>
      <li><strong>Nationality:</strong> <%= @profile.nationality %></li>
      <li><strong>Marital Status:</strong> <%= @profile.marital_status %></li>
      <li><strong>Occupation:</strong> <%= @profile.occupation %></li>
    </ul>
    <%= link_to 'Edit Profile', edit_user_profile_path(user_id: @user.id), class: "btn btn-outline-danger rounded-pill" %>
    <%= link_to 'Change password', edit_user_registration_path,  class: "btn btn-outline-danger rounded-pill" %>
    <% else %>
    <h5>You have not created a profile yet</h5>
    <%= link_to "Create Profile", new_user_profile_path(user_id: @user.id), class: "btn btn-outline-danger rounded-pill" %>
  <%end %>
  </div>
  



<div class="registrations">
<h3>Batch Registrations:</h3>
<% registrations_found = false %>
<% @user.batches.uniq { |batch| batch.id }.each do |batch|%>
  <% latest_non_cancelled_registration = batch.registrations.reject(&:cancelled).sort_by(&:created_at).last %>
  <% if latest_non_cancelled_registration %>
    <% registrations_found = true %>
    <h4>Batch: <%= batch_date_range(latest_non_cancelled_registration.batch) %>:</h4>
    <%= button_to "Cancel", registration_path(latest_non_cancelled_registration), method: :delete, class: "btn btn-outline-danger rounded-pill btn-sm", form: { data: { 'turbo-confirm': 'Are you sure?' } }, id: "registerButton" %> 
  <% end %>
<% end %>

<% unless registrations_found %>
  <h4>No registrations found.</h4>
  <%= link_to "Register", batches_path, class: "btn btn-outline-danger rounded-pill" %>
<% end %>

  







 
</div>
<div class="registrations">
  <% if @user.vishraam_registrations.exists? %>
  <h3>Your Vishram Registrations are:</h3>
  <ul>
    <% @user.vishraam_registrations.each do |vishraam| %>
    <div class="cancelBatch">
      <li><%= "#{formatted_date(vishraam.date)} for #{vishraam.duration} days" %></li>
      <% if vishraam.cancelled %>
        <span class="badge bg-danger fs-sm">Cancelled</span>
      <% else %>
        <%= button_to "Cancel", vishraam_registration_path(vishraam), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-outline-danger rounded-pill btn-sm" %>
      <% end %>
    </div>
    <% end %>
  </ul>
<% else %>
  <h5>You have not registered for Vishraam</h5>
  <%= link_to "Register", new_vishraam_registration_path, class: "btn btn-outline-danger rounded-pill" %>
<% end %>
</div>

<div class="registrations">
  <% if @user.online_consultations.exists? %>
    <h3>Confirmed Consultations</h3>
<% @confirmed_consultations.each do |consultation| %>
  <div class="cancelBatch">
    <% if consultation.status == 'case sheet pending' %>
      <li><%= "#{formatted_date(consultation.date)} from #{consultation.start_time} to #{consultation.end_time}" %></li>
      <span class="badge bg-warning fs-sm">Unconfirmed!</span>
    <% else %>
      <li><%= link_to "#{formatted_date(consultation.date)} from #{consultation.start_time} to #{consultation.end_time}", online_consultation_path(consultation), class: "consultation_link" %></li>
      <span id="confirmed" class="badge bg-success fs-lg">Confirmed!</span>
      <%= button_to "Cancel", online_consultation_path(consultation), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-outline-danger rounded-pill btn-sm" %>
    <% end %>
  </div>
<% end %>

<h3 class="mt-5">Cancelled Consultations</h3>
<% @cancelled_consultations.each do |consultation| %>
  <div class="cancelBatch">
    <li><%= "#{formatted_date(consultation.date)} from #{consultation.start_time} to #{consultation.end_time}" %></li>
    <span class="badge bg-danger fs-sm">Cancelled</span>
  </div>
<% end %>
  <% else %>
    <h5 >No online consultations</h5>
    <%= link_to "Book", online_consultations_path, class: "btn btn-outline-danger rounded-pill"%>
  <% end %>
</div>






<% if current_user_admin? %>
<h3>Other users</h3>
  <% User.all.each do |user|%>
  <% if user != current_user %>
    <li><%= link_to user_full_name(user), user_profile_path(user_id: user.id) %></li>
  <% end %>
<% end %>

<% end %>
</section>