<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
<% if current_user == @user %>
  <h1>Your Profile</h1>
<% else %>  
  <h1><%= @user.first_name %>'s Profile</h1>
<% end %>
<p>
  <strong>First Name:</strong>
  <h5><%= @user.email %></h5>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
<% if @user.batches.exists? %>
  <h3>You have registered for the following batches: </h3>
  <% @user.batches.each do |batch| %>
    <li><%= "#{formatted_date(batch.start_date)} - #{formatted_date(batch.end_date)}" %></li>
  <% end %>
<% end %>
<% if @user.vishraam_registrations.exists? %>
  <h3>Your Vishraam Registrations are: </h3>
  <% @user.vishraam_registrations.each do |vishraam| %>
    <li><%= "#{formatted_date(vishraam.date)} for #{vishraam.duration} days" %></li>
  <% end %>
<% end %>
<h3>Profile details</h3>
<% if @profile %>
  <li><%= @profile.gender %></li>
  <li><%= @profile.date_of_birth %></li>

  <li><%= @profile.phone_number %></li>

<% else %>
  <li>You have not created a profile yet</li>
  <%= link_to "Create Profile", new_user_profile_path(user_id: @user.id), class: "btn btn-primary" %>
<% end %>
</p>
<!-- Add other user attributes here as needed -->
<% if current_user == @user %>
  <%= link_to 'Change password', edit_user_registration_path,  class: "btn btn-outline-success rounded-pill" %>
<% end %>  
  <%= link_to 'Edit Profile', edit_user_profile_path(user_id: @user.id), class: "btn btn-outline-success rounded-pill" %>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete}, class: "btn btn-outline-danger rounded-pill" %>


<% if current_user_admin? %>
<h3>Other users</h3>
  <% User.all.each do |user|%>
  <% if user != current_user %>
    <li><%= link_to user_full_name(user), user_profile_path(user_id: user.id) %></li>
  <% end %>
<% end %>

<% end %>
</section>