<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
 
  <h1 class="text-center mb-5"><%= user_full_name(@user) %></h1>

  
  <div class="personal-info">
  <% if @profile %>
    <h2>Profile</h2>
    <ul>
      <li><strong>Email:</strong> <%= @user.email %></li>
      <li><strong>Created At:</strong> <%= @user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></li>
      <li><strong>Updated At:</strong> <%= @user.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></li>
      <li><strong>Gender:</strong> <%= @profile.gender %></li>
      <li><strong>Date of Birth:</strong> <%= @profile.date_of_birth.strftime('%Y-%m-%d') %></li>
      <li><strong>Address:</strong> <%= @profile.address %></li>
      <li><strong>City:</strong> <%= @profile.city %></li>
      <li><strong>ZIP:</strong> <%= @profile.zip %></li>
      <li><strong>Country:</strong> <%= @profile.country %></li>
      <li><strong>Phone Number:</strong> <%= @profile.phone_number %></li>
      <li><strong>Alternate Phone Number:</strong> <%= @profile.alternate_phone_number %></li>
      <li><strong>Doctor Contact Details:</strong> <%= @profile.doctor_contact_details %></li>
      <li><strong>Nationality:</strong> <%= @profile.nationality %></li>
      <li><strong>Marital Status:</strong> <%= @profile.marital_status %></li>
      <li><strong>Occupation:</strong> <%= @profile.occupation %></li>
    </ul>
    <%= link_to 'Edit Profile', edit_user_profile_path(user_id: @user.id), class: "btn btn-outline-danger rounded-pill" %>
    <%= link_to 'Change password', edit_user_registration_path,  class: "btn btn-outline-danger rounded-pill" %>
    <% else %>
    <h5>You have not created a profile yet</h5>
    <%= link_to "Create Profile", new_user_profile_path(user_id: @user.id), class: "btn btn-outline-danger rounded-pill" %>
  <%end %>
  </div>
  



<div class="registrations">
  <% if @user.batches.exists? %>
    <h3>You have registered for the following batches:</h3>
    <ul>
      <% @user.batches.each do |batch| %>
      <div class="cancelBatch">
        <li><%= "#{formatted_date(batch.start_date)} - #{formatted_date(batch.end_date)}" %></li>
        <% @registrations = Registration.where(user_id: current_user.id, batch_id: batch.id)%>
        <% @registrations.each do |registration| %>
          <%= button_to "Cancel", registration_path(registration), method: :delete, class: "btn btn-outline-danger rounded-pill btn-sm", form: { data: { 'turbo-confirm': 'Are you sure?' } }, id: "registerButton" %> 
        <% end %>
      </div>
      <% end %>
    </ul>
  <% else %>
    <h5 >You have not registered for any batches</h5>
    <%= link_to "Register", batches_path, class: "btn btn-outline-danger rounded-pill"%>
  <% end %>
</div>
<div class="registrations">
  <% if @user.vishraam_registrations.exists? %>
    <h3>Your Vishraam Registrations are:</h3>
    <ul>
      <% @user.vishraam_registrations.each do |vishraam| %>
      <div class="cancelBatch">
        <li><%= "#{formatted_date(vishraam.date)} for #{vishraam.duration} days" %></li>
        <%= button_to "Cancel", vishraam_registration_path(vishraam), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-outline-danger rounded-pill btn-sm" %>
      </div>
      <% end %>
    </ul>
  <% else %>
    <h5 >You have not registered for Vishraam</h5>
    <%= link_to "Register", new_vishraam_registration_path, class: "btn btn-outline-danger rounded-pill"%>
  <% end %>
</div>






<% if current_user_admin? %>
<h3>Other users</h3>
  <% User.all.each do |user|%>
  <% if user != current_user %>
    <li><%= link_to user_full_name(user), user_profile_path(user_id: user.id) %></li>
  <% end %>
<% end %>

<% end %>
</section>