
<div class="contactForm">
  <h3 class="howToget">Contact Form</h3>
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <%= form_with model: @contact, url: contacts_path do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :message, class: "form-control" %>
        </div>

        <div>
          <%= f.submit class:"btn btn-primary" %>
        </div>
        <% end %>
      </div> 
    </div>
  </div>

    
  
</div>