<%= turbo_frame_tag "consultations_table" do %> 
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Payment Status</th>
                  <th>Actions</th>
                  <!-- Add other column headers here -->
              </tr>
          </thead>
          <tbody>
          <% if @online_consultations.any? %>
            <% @online_consultations.each do |consultation| %>
              <tr>
                <td data-th="Full Name"><%= link_to user_full_name(consultation.user), user_profile_path(user_id: consultation.user.id), class: "nav-link" %></td>
                <td data-th="Email"><%= consultation.user.email %></td>
                  <td data-th="Date"><%= formatted_date(consultation.date) %></td>
                  <td data-th="Time"><%= consultation.start_time %></td>
                <td data-th="Status" data-controller="status" data-status-id-value="<%= consultation.id %>" data-endpoint="<%= online_consultation_path(consultation) %>">
                    <%= tag.span class: "badge #{consultation_status_class(consultation)}" do %>
                    <%= consultation.status %>
                  <% end %>      
                </td>
                <td data-th="Payment Status">
                  <% if payment_complete?(consultation) %> 
                    <span class="badge bg-success fs-lg">Payment complete</span>
                  <% else %>
                    <span class="badge bg-warning fs-lg">Payment pending</span>
                  <% end %>
                <!-- Add other columns here -->
                <td data-th="Actions">
                  <%= link_to 'View', online_consultation_path(consultation), class: 'btn btn-outline-success btn-sm' %>
                  <span><%= button_to 'Cancel', online_consultation_path(consultation), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: 'btn btn-outline-danger btn-sm' %></span>
                  <% if consultation.confirmed == true && consultation.completed == false %>
                    <% if payment_complete?(consultation)%>
                        <% if !consultation.completed? %>
                            <%= button_to 'Mark payment pending', payment_complete_path(consultation), method: :patch, class: 'btn btn-outline-primary btn-sm' %>
                            <%= button_to "Mark completed", online_consultation_path(consultation), method: :patch, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: 'btn btn-outline-warning btn-sm'%>
                        <% end %>    
                    <% else %>
                      <%= button_to 'Mark payment complete', payment_complete_path(consultation), method: :patch, class: 'btn btn-outline-primary btn-sm' %>      
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7" class="text-center">No consultations to display</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %> 