<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5 ">
  <div class="registrations">
    <h2 class="text-center mb-5">Your Online Consultation</h2>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="online-consultation-card online-consultation-container">
          <h4>Date and time:</h4>
          <ul class="list-unstyled">
            <li><strong>Date:</strong> <%= formatted_date(@online_consultation.date) %></li>
            <li><strong>Time:</strong> <%= @online_consultation.start_time %> to <%= @online_consultation.end_time %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="online-consultation-card online-consultation-container">
          <h4>Case Sheet:</h4>
          <ul class="list-unstyled">
            <%# Add the remaining case sheet items here, following the same format as below %>
            <li><strong>Vegetarian:</strong> <%= @case_sheet.vegetarian ? "Yes" : "No" %></li>
            <li><strong>Height:</strong> <%= @case_sheet.height %></li>
            <li><strong>Weight:</strong> <%= @case_sheet.weight %></li>
            <li>Blood Group: <%= @case_sheet.blood_group %></li>
            <li>Appetite: <%= @case_sheet.appetite %></li>
            <li>Sleep: <%= @case_sheet.sleep %></li> 
            <li>Motion: <%= @case_sheet.motion %></li>
            <li>Energy Level: <%= @case_sheet.energy_level %></li>
            <li>Hereditary Mother: <%= @case_sheet.hereditary_mother %></li>
            <li>Hereditary Father: <%= @case_sheet.hereditary_father %></li>
            <li>Surgeries: <%= @case_sheet.surgeries %></li>
            <li>Normal Deliveries: <%= @case_sheet.normal_deliveries %></li>
            <li>Caesarian Deliveries: <%= @case_sheet.caesarian_deliveries %></li>
            <li>Exercise Routine: <%= @case_sheet.exercise_routine %></li>
            <li>Past Ailments: <%= @case_sheet.past_ailments %></li>
            <li>Present Complaints: <%= @case_sheet.present_complaints %></li>
            <li>Status: <%= @online_consultation.status %></li>
            <%# ... %>
          </ul>
        </div>
      </div>
    </div>
<%= link_to "Download case sheet", export_online_consultations_case_sheet_path(format: 'xlsx', id: @online_consultation.id), class: "btn btn-outline-success" %>

    <% if @online_consultation.completed == false %>
      <div class=" mt-5">
          <%= button_to "Cancel appointment", online_consultation_path(@online_consultation), method: :delete, class: "btn btn-outline-danger", form: { data: { 'turbo-confirm': 'Are you sure?' } } %>
      </div>
    <% end %>
  </div>
</section>
