<div data-turbo="false" class="h-100 d-flex align-items-center justify-content-center">
  <%= form_with(model: @gallery, multipart: true) do |f|%>
    <%= @gallery.errors.full_messages.to_sentence %>
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div>
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>
    <%= f.submit class:"btn btn-primary"%>
  <% end %>
</div>