<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <div class="container mt-5">
    <div class="row">
      <% @batches.each do |batch|%>
        <div class="col-md-4 mb-4">
          <div class="border p-3 rounded <%= is_nearest_batch(batch, @batches) ? 'bg-success' : '' %>">
            <div class="mb-3">
              <% if current_user_admin? %>
                <h5><%= link_to batch.name, batch_path(batch) %></h5>
              <% else %>
                <h5><%= batch.name %></h5>
              <% end %>
              <% if is_nearest_batch(batch, @batches) %>
                  <h6>Coming up in <%= (batch.start_date - Date.today).to_i %> days</h6>
                <% end %>
            </div>
            <ul class="list-unstyled mb-3">
              <li><strong>Start Date:</strong> <%= formatted_date(batch.start_date) %></li>
              <li><strong>Duration:</strong> <%= "#{batch.duration} days" %></li>
            </ul>
            <%= button_to "Register", registrations_path(batch_id: batch.id), class: "btn btn-outline-primary rounded-pill", turbo_method: :post, data: {turbo: false} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>