<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
<h1 class="cardHeading packages text-center">Batches for 2023</h1> 

  <div class="container mt-5">
   
      <div class="row">
        <% @batches.each do |batch|%>
          <% if batch.start_date > Date.today %>
            <div class="col-md-4 mb-4">
              <div class="border p-3 rounded <%= is_nearest_batch(batch, @batches) ? 'nearest_batch' : '' %>">
                <div class="mb-3">
                  <div class="card-flex">
                    <% if current_user_admin? %>
                      <h5><%= link_to batch_date_range(batch), batch_path(batch) %></h5>
                    <% else %>
                      <h5><%= batch_date_range(batch) %></h5>
                    <% end %>
                    <% if is_nearest_batch(batch, @batches) %>
                      <h6  class="coming-up">Coming up in <%= (batch.start_date - Date.today).to_i %> <%= (batch.start_date - Date.today).to_i == 1 ? "day" : "days" %></h6>
                    <% end %>
                  </div>
                </div>
                <ul class="list-unstyled mb-3">
                  <li><strong>Duration:</strong> <%= "#{batch.duration} days" %></li>
                </ul>
                <% if current_user && registration = Registration.find_by(user_id: current_user.id, batch_id: batch.id, cancelled: false) %>
                     <div id="registeredButton"> Status: <%= registration.status %></div>
                     <% if registration.status != "Completed" %>
                      <%= button_to "Cancel", registration_path(registration), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-primary rounded-pill", id: "registerButton" %> 
                    <% end %>
                <% else %>
                  <%= link_to "Register", new_registration_path(batch_id: batch.id), class: "btn btn-outline-primary rounded-pill", id: "registerButton" %>
                <% end %>
                <% if current_user_admin? %>
                  <%= link_to "Edit batch", edit_batch_path(batch), class: "btn btn-outline-primary rounded-pill", id: "registerButton" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% if current_user_admin? %>
      <%= link_to "All registrations", registrations_path, class: "btn btn-outline-danger rounded-pill" %>
    <% end %>
  </div>
</section>
