<div class="footercontainer">
  <footer class="py-3 pb-5">
    <ul class="nav justify-content-center pb-3">
      <div class="footerlogo"><%= logo %></div>
      <li class="nav-item"><%= link_to "Health Programmes", packages_path, class: "nav-link", data: {turbo: false} %></li> 
      <% if current_user_admin? %>
        <li class="nav-item"><%= link_to "Blog", blogs_path, class: "nav-link" %></li>
      <% end %>
      <li class="nav-item"><%= link_to "Gallery", gallery_index_path, class: "nav-link", data: {turbo: false}%></li>

      <li class="nav-item"><%= link_to "Testimonials", testimonials_path, class: "nav-link", data: {turbo: false}%></li>

      <li class="nav-item"><%= link_to "Contact", contacts_path, class: "nav-link"%></li> 

      <li class="nav-item"><%= link_to "About", about_path, class: "nav-link", data: {turbo: false}%></li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, class: "nav-link",  data: { turbo_method: :delete} %>
        </li>
      <% end %>
    </ul> 
    <p class="footerCopyright text-center text-muted">© ArogyaM, <%= Time.current.year %></p>
    <p class="satsangFoundation text-center text-muted"><%= link_to "A Unit of The Satsang Foundation", "https://satsang-foundation.org", target: '_blank', class: "satsangLink"  %></p>
  </footer>
</div>