

<div class="footercontainer">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3">
      <li class="nav-item"><%= link_to "Packages", packages_path, class: "nav-link" %></li>                
              <% if current_user_admin? %>
                <li class="nav-item"><%= link_to "Blog", blogs_path, class: "nav-link" %></li>
              <% end %>
              <li class="nav-item"><%= link_to "Testimonials", testimonials_path, class: "nav-link"%></li>
             
              <li class="nav-item"><%= link_to "Accommodation", accommodation_path, class: "nav-link"%></li>
              <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link"%></li> 
              <li class="nav-item"><%= link_to "About", about_path, class: "nav-link"%></li>
              <% if current_user %>
                <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class: "nav-link",  data: { turbo_method: :delete} %></li>
              <% end %>
    </ul>
    <p class="text-center text-muted">© ArogyaM, 2023</p>
  </footer>
</div>