<% if announcements.present? %>
  <div class="banner">
    <% announcements.each do |announcement|%>
      <%= announcement.content %>
    <% end %>
  </div>
<% end %>
<header class="header navbar navbar-expand-lg navbar-light bg-light fixed-top">
   
  <div class="container-fluid">
    <span>
      <%= link_to "<i class='bi bi-telephone'></i>".html_safe, contacts_path, id:"phoneIcon" %>
    </span>
   <div class="centerLogoCont"> <%= link_to(image_tag('https://d1w11gv0j27jrz.cloudfront.net/full-logo.png', width: 150, class: "centerlogo no-border-radius", alt: 'Logo'), root_path, class: "nav-link", data: {turbo: false}) %></div>
    <button type="button" class="navbar-toggler me-2" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end " id="primaryMenu">
      <div class="offcanvas-header">
        <h6 class="mt-1 mb-0"></h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body pt-0 justify-content-center">
        <ul class="navbar-nav p-0" style="--ar-scroll-height: 520px;">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link", data: {turbo: false} %></li> 
          <li class="nav-item"><%= link_to "Health Programmes", packages_path, class: "nav-link", data: {turbo: false}%></li>  
          <% if current_user_admin? %>
            <li class="nav-item"><%= link_to "Blog", blogs_path, class: "nav-link"%></li>
            <li class="nav-item"><%= link_to "Bookings", bookings_list_path, class: "nav-link"%>
          <% end %>
          <li class="nav-item"><%= link_to "Gallery", gallery_index_path, class: "nav-link", data: {turbo: false}%></li>

          <li class="nav-item"><%= link_to "Testimonials", testimonials_path, class: "nav-link", data: {turbo: false}%></li>
          <li class="nav-item"><%= link_to "Contact", contacts_path, class: "nav-link", data: {turbo: false}%></li> 
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link", data: {turbo: false}%></li>
          <%= link_to "Book programme", packages_path, class: "navbarBookButton btn btn-outline-primary rounded-pill" %>
          <% if current_user %>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class: "nav-link",  data: { turbo_method: :delete} %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>