<!DOCTYPE html>
<html>
  <head>
    <title>Arogyam</title>
    <meta name="description" content="Ayurvedic Wellness Center">
    <meta name="keywords" content="Ayurveda, Yoga, Wellness">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/swiper@9.1.0/swiper-bundle.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  
    
    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Courier+Prime" rel="stylesheet" id="google-font">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">  <body>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <body>
    <%= render 'layouts/navbar' %>
      <main class="page-wrapper">
          <% if flash[:notice] %>
            <div class="flash notice">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="flash alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
        <%= yield %>
      </main>
      <% if !current_page?(bookings_path)%>
    <%= render 'layouts/footer-2' %>
    <% end %>
      <%= render 'layouts/footer' %>
    
  </body>
</html>
